html { 
    height: 100%;
}

body {
    background-color: #2F3035;
    background-image: url(images/IMHD.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
} 

header {

    height: 50px;
    text-align: center;

}

nav {
    background-color: rgba(0, 0, 0, 0.308);
    text-align: center ;
    padding-top: 14px;
    padding-bottom: 14px;
}

main {  

     height: 400px;
     text-align: center;
     padding-top: 40px;
     margin-top: 40px;
     padding-left: 240px;
     padding-right: 240px; 
     

}

footer {
    background-color: rgba(0, 0, 0, 0.60);
    padding-bottom: 50px;
    padding-top: 50px;
 
}

footer p {
    font-size: 12px;
    text-align: center;
    color: rgb(198, 198, 198);
}

h1 {
    font-size: 84px;
    font-family: Arial, Helvetica, sans-serif; 
    color: white;
    margin-top: 0px;
}

p {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif; 
    color: white;

}

a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding-left: 10px;
    padding-left: 10px;
    font-weight: 1000;
} 

nav a {
    text-decoration: none;
}

.maps {
    padding-bottom: 100px;
}
